<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foodReview">
      <select id="getList" parameterType="foodReviewDto" resultType="foodReviewDto">
      SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT num, writer, content, target_num, target_id, ref_group, review_group, 
            	deleted, board_food_review.regdate, profile
            FROM board_food_review
            INNER JOIN users
            ON board_food_review.writer=users.id
            WHERE ref_group=#{ref_group}
            ORDER BY review_group ASC, num ASC) result1)
      WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}   
   </select>
   <update id="delete" parameterType="int">
      UPDATE board_food_review
      SET deleted='yes'
      WHERE num=#{num}
   </update>
   <insert id="insert" parameterType="foodReviewDto">
      INSERT INTO board_food_review
      (num, writer, content, target_num, target_id, ref_group, review_group, deleted, regdate)
      VALUES(#{num}, #{writer}, #{content}, #{target_num},#{target_id}, #{ref_group},
         #{review_group},'no', SYSDATE)
   </insert>
   <select id="getSequence" resultType="int">
      SELECT board_food_review_seq.NEXTVAL
      FROM DUAL
   </select>
   <update id="update" parameterType="foodReviewDto">
      UPDATE board_food_review
      SET content=#{content}
      WHERE num=#{num}
   </update>
   <select id="getData" parameterType="int" resultType="foodReviewDto">
      SELECT num, writer, content, target_num, target_id, ref_group, review_group, deleted, regdate
      FROM board_food_review
      WHERE num=#{num}
   </select>
   <select id="getCount" parameterType="int" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM board_food_review
      WHERE ref_group=#{ref_group}
   </select>   
</mapper>